# Created by .ignore support plugin (hsz.mobi)
.idea
target
.metadata/.mylyn/contexts/
.metadata/.plugins/org.eclipse.core.resources/.history/
.metadata/.plugins/org.eclipse.debug.core/
.metadata/.plugins/org.eclipse.emf.common.ui/
.metadata/.plugins/org.eclipse.mylyn.bugzilla.core/
.metadata/.plugins/org.eclipse.mylyn.context.core/
.metadata/.plugins/org.eclipse.mylyn.tasks.ui/
.metadata/.plugins/org.eclipse.oomph.setup.ui/
.metadata/.plugins/org.eclipse.rse.core/profiles/
.metadata/.plugins/org.eclipse.tm.terminal.view.ui/
.metadata/.plugins/org.eclipse.userstorage.oauth/
